.product {
  width: 31%;
  padding: 10px 10px 40px 10px ;
  border: 1px solid #95a0a7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  position: sticky;
}

.product img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.product h3 {
  font-weight: 400;
  font-size: 21px;
}

button {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border: none;
  border-top: 1px solid #95a0a7;
  background-color: #FFE0B3;
  padding: 10px 0;
  font-size: 15px;
  color: #0E161A;
  cursor: pointer;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  font-weight: 600;
}


button:hover{
    background: #FF9900;
    color: #FFf;
}